#sorts,
#filters {
  position: relative;
  top: -40px;
}

#sorts a,
#filters a {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

.view-id-frontpage .views-row {
  padding: 0 20px 20px 0;
}
